body {
    background-color: chocolate;
}

.box {
    width: 100%;
    height: 100%;
    background-color: lightgreen;
    padding: 200px 0 0 0;
}

.main {
    width: 600px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    transform: translateY(50px);
}